@charset "utf-8";
/*宋体*/
@font-face {
  font-family: "st";
  src: url("../Fonts/st.ttf"), local("宋体"), local("明朝"), local("Songti SC"), local("Songti TC"), local("STSongti"), local("STSong"), local("Song S"), local("STBShusong"), local("TBMincho"), local("HYMyeongJo"), local("DK-SONGTI"),;
}

/*仿宋*/
@font-face {
  font-family: "fs";
  src: url("../Fonts/fs.ttf"), local("FangSong"), local("仿宋"), local("仿宋_GB18030"), local("仿宋_GB2312"), local("方正仿宋_GBK"), local("DK-FANGSONG");
}

/*楷体*/
@font-face {
  font-family: "kt";
  src: url("../Fonts/kt.ttf"), local("DK-KAITI"), local("KaiTi"), local("STKaiti"), local("STKai"), local("楷体"), local("楷体_GB18030"), local("楷体_GB2312"), local("Kaiti"), local("Kaiti SC"), local("Kaiti TC"), local("方正楷体_GBK");
}

/*黑体*/
@font-face {
  font-family: "ht";
  src: url("../Fonts/ht.ttf"), local("DK-HEITI"), local("信黑 W4"), local("信黑"), local("微软雅黑"), local("雅黑"), local("STHeiti"), local("STHei"), local("MYing Hei S"), local("TBGothic"), local("Heiti"), local("Heiti SC"), local("Heiti TC");
}

/*小标宋*/
@font-face {
  font-family: "xbs";
  src: url("../Fonts/xbs.ttf"), local("DK-XIAOBIAOSONG");
}

@font-face {
  font-family: "vv";
  src: url("../Fonts/vv.ttf");
}

@font-face {
  font-family: "cc";
  src: url("../Fonts/cc.ttf");
}

@font-face {
  font-family: "c1";
  src: url("../Fonts/c1.ttf");
}

@font-face {
  font-family: "zt1";
  src: url("../Fonts/zt1.ttf");
}

@font-face {
  font-family: "zt2";
  src: url("../Fonts/zt2.ttf");
}

@font-face {
  font-family: "zt3";
  src: url("../Fonts/zt3.ttf");
}

@font-face {
  font-family: "c1";
  src: url("../Fonts/c1.ttf");
}

@font-face {
  font-family: "sx";
  src: url("../Fonts/sx.ttf");
}

@font-face {
  font-family: "song";
  src: url("../Fonts/song.ttf");
}

@font-face {
  font-family: "role1";
  src: url("../Fonts/role1.ttf");
}

@font-face {
  font-family: "role2";
  src: url("../Fonts/role2.ttf");
}

@font-face {
  font-family: "role0";
  src: url("../Fonts/role0.ttf");
}